.cls-common-style {
  .dynamic-form {
    border-radius: 12px;
    background-color: var(--theme-setting-form-background);
    color: var(--theme-login-input-text-color);
    padding: 24px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    margin-top: 0px;

    .cls-form-legend {
      display: none;
    }

    .form-container .fields-container {
      padding: 0px;
      border: none;
    }

    .cls-campaign-page-container .ant-form-vertical {
      background-color: var(--background) !important;
    }

    .ant-input-prefix {
      color: var(--theme-template-folder);
    }

    .ant-form {
      .ant-form-item-required,
      .ant-form-item-label,
      .ant-form-item-label > label {
        font-size: 12px !important;
      }

      .ant-form-item-label {
        font-weight: bold;
        font-size: 12px !important;
      }

      .fields-container {
        .ant-row {
          .ant-form-item {
            .ant-input {
              border-radius: 4px;
              background-color: var(--theme-login-input-text);
              color: var(--theme-login-input-text-color);
              border-color: var(--theme-select-border-color);
            }

            .ant-select {
              .ant-select-selector {
                color: var(--theme-login-input-text-color);
                border-color: var(--theme-select-border-color);
              }
            }
          }
        }
      }
    }

    .ant-select {
      .ant-select-selector {
        border-radius: 4px;
        background-color: var(--theme-login-input-text);
      }

      .ant-select-arrow {
        svg path {
          fill: var(--theme-login-input-text-color);
        }
      }
    }

    .title {
      font-size: 24px;
      color: var(--title-color);

      &::before {
        background: #0075cb;
        content: ' ';
        z-index: 99;
        position: absolute;
        top: 6px;
        left: -24px;
        width: 5px;
        height: 28px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }

    .cls-no-subhead {
      margin-bottom: 10px;
    }

    .group-description {
      font-size: 14px;
      color: #7480a2;
      margin: 0px 0px 5px 0px;
    }
  }

  .form-container {
    &:has(.cls-campaign-page) {
      margin-top: unset;
    }

    margin-top: 16px;

    .cls-form-legend {
      z-index: 99;
      position: absolute;
      top: -14px;
      left: 20px;
      border-radius: 16px;
      padding: 4px 8px;
      color: #fff;
      background: #7480a2;
      font-size: 12px;
    }

    .cls-campaign-page {
      top: 41px;
    }

    .fields-container {
      padding: 24px 24px;
      border: 1px dashed #555555;
      background: var(--theme-setting-from-container);
      border-radius: 6px;

      .remove-icon {
        position: absolute;
        right: -4px;
        top: 10px;
        color: red;
      }

      .loading-indicator {
        position: absolute;
        right: 25px;
        bottom: 11px;
      }
    }

    .form-btns {
      margin-top: 32px;
    }

    // validation css from login form
    label {
      color: var(--label-color);
    }

    .link span {
      color: var(--link-color);
      font-size: 13px !important;
      font-weight: normal !important;
    }

    .ant-row {
      margin-bottom: 8px;
    }

    .ant-checkbox-checked:after,
    .ant-checkbox-input:focus + .ant-checkbox-inner,
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner {
      border-color: var(--check-box-color);
    }
  }

  .ant-row-middle {
    justify-content: end;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .dynamic-form .title {
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 480px), (min-width: 481px) and (max-width: 767px) {
  .MailerForm {
    .form-container .fields-container {
      padding: 24px 25px;
    }
  }
}
