p{
    margin-bottom: 0px;
}
.ant-progress-bg{
    background-color: blue;
}
.cls-type-both{
    p{
        width: 100%;
    }
    .cls-type-both-pre,.cls-type-field{
        font-size: 12px;
        font-weight: bold;
        color:#aaaaaa;
    }
}